body, html{
	background-color: #585858;
	position: fixed;
	top: 0;
	bottom:0;
	left:0;
	right:0;
	overflow: hidden;
}

body{
	height: 100vh;
	background-color: #585858;
}

table {
	margin-top: 15%;
	margin-left:25%;
	border: 5px solid #00FFFF;
	height: 70%;
	width: 50%;
	position: absolute;
}
td{
	border: 5px solid #00FFFF;
}


.hit {
	background: url("ship.png") no-repeat center center;
}
.miss {
	background: url("miss.png") no-repeat center center;
}
