
body {
	background-color: #585858;
	margin:0;
	padding:0;
}

table {
	left: 25%;
	top:2%;
	border: 5px solid #00FFFF;
	height: 95%;
	width: 50%;
	position: absolute;
	border-collapse: collapse;
	-webkit-box-shadow: 0 10 20px #00ffff;
	box-shadow: 0 10 20px #00ffff;
}

td{
	border: 5px solid #00FFFF;
}
td:hover{
-webkit-box-shadow: 0 0 10px #58FA58;
        box-shadow: 0 0 10px #58FA58;
}


.hit {
	background: url("ship.png") no-repeat center center;
}
.miss {
	background: url("miss.png") no-repeat center center;
}
